
#define wxUSE_DPI_AWARE_MANIFEST 2

#include "wx/msw/wx.rc"

AAAA ICON "Pcynlitx.ico" 

// WINDRES IS LOOK THE FIRST ICON NAMED LEXICALLY FIRST ODER FOR MAIN ACIN.

// THEREFORE, THE APP ICON MUST BE NAMED AS AAAA WHICH HAS THE LEXICALLY FOR ORDER